<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="foot">
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left">Site built by <a href="https://baselogic.com" target="_blank">BASE Logic, inc.</a>&nbsp;|&nbsp;</p>

            <a class="navar-btn btn-danger btn pull-right" target="_blank" href="https://www.youtube.com/c/BASELogic">Subscribe on Youtube</a>
        </div>
    </footer>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>

</body>
</html>