body {
    padding-top: 10px;
}
dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #999f9f;
    border-width: 1px 1px 0 0;
}
dt {
    flex-basis: 20%;
    padding: 2px 4px;
    background: #999f9f;
    text-align: right;
    color: #ffffff;
}
dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid #999f9f;
}