<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="foot">
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left">Site built by <a href="https://baselogic.com" target="_blank" rel="noopener noreferrer">BASE Logic, inc.</a>&nbsp;|&nbsp;</p>

            <a class="navar-btn btn-danger btn pull-right" target="_blank" href="https://www.youtube.com/c/BASELogic" rel="noopener noreferrer">Subscribe on Youtube</a>
        </div>
    </footer>
</div>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>

</body>
</html>