<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title id="pageTitle">User Registration</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/messages :: messages"></th:block> /*/-->

    <!--/*--><!--@thymesVar id="registrationDto" type="io.baselogic.springsecurity.web.model.RegistrationDto"--><!--*/-->

    <h1 id="chapterHeading">User Registration</h1>

    <form id="registrationForm"
          action="#"
          th:action="@{/registration/new}"
          th:object="${registrationDto}" method="post" cssClass="error">

        <fieldset>
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th class="col-sm-1">
                        <label class=" col-form-label" for="firstName">First Name</label>
                        <span id="fieldsErrors" class="red ui-state-error ui-state-error-text" th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}"></span>
                    </th>
                    <td class="col-sm-4">
                        <input class="form-control input-xlarge" th:field="*{firstName}" id="firstName"/>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">
                        <label class=" col-form-label" for="lastName">Last Name</label>
                        <span id="fieldsErrors" class="red ui-state-error ui-state-error-text" th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}"></span>
                    </th>
                    <td class="col-sm-4">
                        <input class="form-control input-xlarge" th:field="*{lastName}" id="lastName"/>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">
                        <label class=" col-form-label" for="email">Email</label>
                        <span id="fieldsErrors" class="red ui-state-error ui-state-error-text" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span>
                    </th>
                    <td class="col-sm-4">
                        <input class="form-control input-xlarge" th:field="*{email}" id="email"/>
                    </td>
                </tr>
                <tr>
                    <th class="col-sm-1">
                        <label class=" col-form-label" for="password">Password</label>
                        <span id="fieldsErrors" class="red ui-state-error ui-state-error-text" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"></span>
                    </th>
                    <td class="col-sm-4">
                        <input type="password" class="form-control input-xlarge" th:field="*{password}" id="password"/>
                    </td>
                </tr>


                <tr>
                    <th colspan="2">
                        <button type="submit" class="btn btn-default" id="submit" name="submit">Register</button>
                    </th>
                </tr>
            </table>

        </fieldset>
    </form>



    <br />
    <h3>Social Login</h3>
    <br />
    <form th:action="@{/registration/twitter}" method="POST" class="form-horizontal">
        <input type="hidden" name="scope" value="public_profile" />
        <div class="form-actions">
            <input id="twitter-submit" class="btn" type="submit" value="Login using Twitter"/>
        </div>
    </form>


</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
