<html  xmlns:th="http://www.thymeleaf.org" lang="en">

<head lang="en" th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet"
          type="text/css"
          href="/css/styles.css"
          th:href="@{/css/styles.css}" />

    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}"
          crossorigin="anonymous"
    />

    <link rel="stylesheet"
          type="text/css"
          th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}"
          crossorigin="anonymous"
    />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">


    <!-- Favorite Icons -->
    <link rel="icon" type="image/jpg" sizes="16x16" th:href="@{/img/favicon-16x16.jpg}"  />
    <link rel="icon" type="image/jpg" sizes="32x32" th:href="@{/img/favicon-32x32.jpg}" />
    <link rel="icon" type="image/jpg" sizes="96x96" th:href="@{/img/favicon-96x96.jpg}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />

</head>
<body>
</body>
</html>