<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">Create Event</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!--/*--><!--@thymesVar id="eventDto" type="io.baselogic.springsecurity.web.model.EventDto"-->
    <!--*/-->

    <form id="newEventForm"
            action="#"
          th:action="@{/events/new}"
          th:object="${eventDto}" method="post" cssClass="form-horizontal">

        <p id="globalErrors" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}" cssClass="alert alert-error" />

        <fieldset>
            <legend id="legend">Event Details</legend>
            <div class="control-group">
                <span id="fieldsErrors" th:if="${#fields.hasErrors('attendeeEmail')}" th:errors="*{attendeeEmail}" cssClass="alert alert-error" />
                <label class="control-label" for="attendeeEmail">Attendee Email</label>
                <div class="controls">
                    <input class="input-xlarge" th:field="*{attendeeEmail}" id="attendeeEmail"/>
                </div>
            </div>
            <div class="control-group">
                <p id="fieldsErrors" th:if="${#fields.hasErrors('when')}" th:errors="*{when}" cssClass="alert alert-error" />
                <label class="control-label" for="when">Event Date/Time (yyyy-MM-dd HH:mm)</label>
                <div class="controls">
                    <input class="input-xlarge" th:field="*{when}" id="when" />
                </div>
            </div>
            <div class="control-group">
                <p id="fieldsErrors" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" cssClass="alert alert-error" />
                <label class="control-label" for="summary">Summary</label>
                <div class="controls">
                    <input class="input-xlarge" th:field="*{summary}" id="summary"/>
                </div>
            </div>
            <div class="control-group">
                <span id="fieldsErrors" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" cssClass="alert alert-error" />

                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea class="input-xlarge" th:field="*{description}" id="description" rows="5" cols="25"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input id="submit" type="submit" value="Create"/>
                    <input id="auto" type="submit" name="auto" value="Auto Populate Form"/>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
