<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title id="pageTitle">Welcome to the EventManager!</title>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/messages :: messages"></th:block> /*/-->

    <h1 id="chapterHeading">Chapter 05.00</h1>
    <p id="chapterTitle">Each chapter will have a slightly different summary depending on what has been done.</p>
    <h4 id="summary">Base line Starting from chapter04.04</h4>
    <ul>
        <li>Select a link that requires authentication and observe the new login page.</li>
        <li>Try typing an invalid username/password and viewing the error message</li>
        <li>Try logging in as an admin and viewing all events. Notice we are able to view all the events</li>
        <li>Try logging in as a regular appUser and viewing all events (notice we get an access denied)</li>
    </ul>
    <hr />
    <ul>
        <li><a id="eventsLink" th:href="@{/events/}">All Events</a> - shows all events for all appUsers. Once secured, this will only be viewable by administrators.</li>
        <li><a id="myEMLink" th:href="@{events/my}">My Events</a> - shows all events that <i>user1@baselogic.com</i> is the owner or attendee. Once we apply security only a logged in appUser
            will be able to view this page. Additionally, the logged in appUser will be used rather than always using <i>user1@baselogic.com</i></li>
        <li><a id="createEventLink" th:href="@{events/form}">Create Event</a> - will allow creating a new Event with <i>user1@baselogic.com</i> as the owner. Once we add security, only a logged in
            appUser will be able to view this page. Additionally, the logged in appUser will be the owner rather than always using <i>user1@baselogic.com</i>.</li>
        <li>
            <a id="h2Link" th:href="@{admin/h2/}" target="_blank">H2 Database Console</a> - Allows you to interact with the database using a web console. To use it:
            <ul>
                <li>Click the link above.</li>
                <li>Ensure that <strong>Generic H2 (Embedded)</strong> is selected</li>
                <li>Ensure that <strong>org.h2.Driver</strong> is the Driver Class</li>
                <li>Enter <strong>jdbc:h2:mem:dataSource</strong> as the JDBC URL</li>
                <li>Ensure that the username is '<i>sa</i>'</li>
                <li>Ensure the password is left empty</li>
                <li>Click Connect</li>
            </ul>
        </li>
    </ul>

</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
